body {
  background-color: #DF2E38;
}
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pokemon-item {
  width: calc(33.33% - 20px);
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.pokemon-type {
  color: black;
  text-align: center;
  overflow: hidden;
  animation: slide-in 1.5s ease-out both;
}

@keyframes slide-in {
  0% { transform: translateX(-100%); }
  25% { transform: translateX(-75%); }
  50% { transform: translateX(-50%); }
  75% { transform: translateX(-25%); }
  100% { transform: translateX(0); }
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 100px;
}

.pokemon-list-animated {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  opacity: 0;
  transform: translateY(50%);
  animation: slide-down 0.5s forwards;
  animation-delay: 0.5s;
}

@keyframes slide-down {
  0% { opacity: 0; transform: translateY(-50%); }
  100% { opacity: 1; transform: translateY(0); }
}

.pokemon-name {
  transition: font-size 0.2s ease;
}

.pokemon-item:hover .pokemon-name {
  font-size: 24px;
}

.pokemon-image {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
}

.pokemon-item:hover .pokemon-image {
  transform: translate(-50%, -50%) scale(1);
}

.pokemon-details {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.2s ease;
}

.pokemon-item:hover .pokemon-details {
  transform: translate(-50%, -50%);
  opacity: 1;
  bottom: 10px;
}

.pokemon-item-fire:hover .pokemon-image,
.pokemon-item-flying:hover .pokemon-image {
  transform: translate(-50%, -50%) scale(1);
}


