.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: top 0.3s;
    background-size: cover;
    background-position: center;
  }
  
  .hide-header {
    top: -100px;
  }
  
  .navbar {
    background-color: brown;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Agregar sombra para mayor profundidad */
    top: 0;
    left: 0;
    right: 0;
  }
  
  
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-brand {
    font-size: 3rem; /* Aumentar el tamaño de fuente */
    color: #fff;
    text-decoration: none;
  }
  
  
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  
  .nav-item {
    margin-left: 1rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-out;
  }
  .nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #28a745;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
  }
  .nav-item:hover {
    transform: translateX(5px);
  }
  .nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: auto;
    position: relative;
  transition: color 0.3s ease-out;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #28a745;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-out;
  }
  .nav-link:hover {
    color: #28a745;
  }
  .nav-link:hover::after {
    transform: scaleX(1);
  }
  .form-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .form-inline input[type="search"] {
    flex-grow: 1;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    font-size: 16px;
    outline: none;
  }
  
  .form-inline button[type="submit"] {
    height: 40px;
    margin: 0 10px;
    padding: 0 20px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
  }
  
  .form-inline button[type="submit"]:hover {
    background-color: #218838;
  }
  
  
  @media screen and (max-width: 768px) {
    .navbar-toggler {
      display: block;
    }
    
    .collapse.navbar-collapse {
      display: none;
    }
    
    .collapse.navbar-collapse.show {
      display: block;
    }
    
    .navbar-nav {
      flex-direction: column;
      background-color: #fff;
      position: absolute;
      top: 4rem;
      left: 0;
      right: 0;
      z-index: 9998;
      margin: 0;
      width: 100%;
    }
    
    .nav-item {
      margin: 0;
    }
    
    .nav-link {
      display: block;
      padding: 1rem;
      text-align: center;
      color: #000;
      border-bottom: 1px solid #eee;
    }
    
  
    .nav-item.active .nav-link {
      color: #28a745;
      border-bottom: none;
    }
  }
  